<p>Distribution of Age</p>
<table border="1">
    <tr>
        <td></td>
        <td>numbers</td>
        <td>rate</td>
    </tr>
    <tr>
        <td>adult</td>
        <td>{{adult}}</td>
        <td>{{adult_rate}}</td>
    </tr>
    <tr>
        <td>juvenile</td>
        <td>{{juvenile}}</td>
        <td>{{juvenile_rate}}</td>
    </tr>
    <tr>
        <td>no data</td>
        <td>{{age_no_data}}</td>
        <td>{{age_no_data_rate}}</td>
    </tr>
</table>
<p>Distribution of Primary Fur Color</p>
<table border="1">
    <tr>
        <td></td>
        <td>numbers</td>
        <td>rate</td>
    </tr>
    <tr>
        <td>Gray</td>
        <td>{{Gray}}</td>
        <td>{{Gray_rate}}</td>
    </tr>
    <tr>
        <td>Cinnamon</td>
        <td>{{Cinnamon}}</td>
        <td>{{Cinnamon_rate}}</td>
    </tr>
    <tr>
        <td>Black</td>
        <td>{{Black}}</td>
        <td>{{Black_rate}}</td>
    </tr>
    <tr>
        <td>no data</td>
        <td>{{fur_no_data}}</td>
        <td>{{fur_no_data_rate}}</td>
    </tr>
</table>
<p>Distribution of Location</p>
<table border="1">
    <tr>
        <td></td>
        <td>numbers</td>
        <td>rate</td>
    </tr>
    <tr>
        <td>Ground Plane</td>
        <td>{{Ground_Plane}}</td>
        <td>{{Ground_Plane_rate}}</td>
    </tr>
    <tr>
        <td>Above Ground</td>
        <td>{{Above_Ground}}</td>
        <td>{{Above_Ground_rate}}</td>
    </tr>
    <tr>
        <td>no data</td>
        <td>{{Location_no_data}}</td>
        <td>{{Location_no_data_rate}}</td>
    </tr>
</table>
<p>Distribution of AM/PM</p>
<table border="1">
    <tr>
        <td></td>
        <td>numbers</td>
        <td>rate</td>
    </tr>
    <tr>
        <td>AM</td>
        <td>{{AM}}</td>
        <td>{{AM_rate}}</td>
    </tr>
    <tr>
        <td>PM</td>
        <td>{{PM}}</td>
        <td>{{PM_rate}}</td>
    </tr>
</table>
<p>Are they Indefferent to human?</p>
<table border="1">
    <tr>
        <td></td>
        <td>numbers</td>
        <td>rate</td>
    </tr>
    <tr>
        <td>True</td>
        <td>{{t}}</td>
        <td>{{t_rate}}</td>
    </tr>
    <tr>
        <td>False</td>
        <td>{{f}}</td>
        <td>{{f_rate}}</td>
    </tr>
</table>